$base-font-size:14px;
$base-line-height:1.5;
$base-font-family:'Open Sans', sans-serif;
$base-font-color:#000;
$font-awesome:'FontAwesome';

$primary-color:#0076c7;
$secondary-color:#92ce1d;
$light-color:#fff;
$dark-color:#292929;
$gray-color:#a8a2a2;
$dark-gray:#646660;
$light-gray-color:#edf1f2;
$dark-blue:#004575;